.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #443297;
}

.container {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar_top > a img {
  height: 36px;
  margin-right: 76px;
}

.navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}

.navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_box .category_list {
  width: 166px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.category_list_select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #041e42;
}

.search_box input {
  width: 387px;
  height: 22px;
  margin-left: 12px;

  border: none;
  outline: none;

  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #626974;
}

.nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c348;
  border-radius: 0px 6px 6px 0px;
}

.search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.top_menu_box .box_icon_box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid;
  border-radius: 6px;
}

.box_icon_box img {
  width: 22px;
  height: 22px;
}

.top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.box_info_box span {
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}

.box_info_box strong {
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

.box_icon_box .basket_count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -2px;
  right: -3px;
  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #f5c34b;

  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}
.navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;

  border-top: 1px solid #5746a1;
}
.navbar_bott .navbar_bott_menu_box {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
}

.navbar_bott_menu_box .browse_box {
  margin-top: 10px;
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
}
.browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.browse_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.navbar_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 690px;
  display: flex;
  flex-direction: row;
}
.navbar_route_menu .router_menu {
  width: auto;
  height: 41px;

  display: flex;
}

.router_menu a {
  margin-right: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.router_menu a.active {
  color: #f5c34b;
}

.navbar_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}
.sorting_menu span {
  margin-left: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
