/* HEADER_FRAME START */
.home_page {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header_frame .container {
  flex-direction: row;
}
.header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;
  background-color: rgba(0, 83, 246, 1);
  background-image: url(../images/icons/header_bg.svg);
  border-radius: 5px;
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c348;
  border-radius: 6px;

  font-family: "Jost";
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  color: rgba(4, 30, 66, 1);
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "Jost";
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
  color: rgba(255, 255, 255, 1);
}
.header_frame .header_content p {
  margin-top: 10px;

  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border-radius: 6px;

  font-family: "Jost";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;

  color: #041e42;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}
.header_frame .container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  margin-left: 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
}
.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_frame .box_left span {
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #0053f6;
}
.header_frame .box_left p {
  margin: 10px;
  font-family: "Jost";
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;

  color: #041e42;
}

.header_frame .box_left a {
  font-family: "Jost";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #041e42;
}
.header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: #041e42;
}
.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}
/* HEADER_FRAME END */
/* SERVICE */
.home_page .service_frame {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;

  display: flex;
  justify-content: center;
}
.service_frame .container {
  flex-direction: row;
}
.service_frame .container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}
.service_frame .service_box img {
  width: 35px;
  height: 35px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.service_frame .service_content span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #041e42;
}
.service_frame .service_content p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #626974;
}
/*  SERVICE END */

/*   SHOP CATEGORY START  */
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.shop_category_frame .container {
  flex-direction: column;
}
.shop_category_frame .container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shop_category_frame .category_top span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 48px;

  color: #041e42;
}
.shop_category_frame .category_top a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.shop_category_frame .category_top a:hover {
  border-bottom: 2px solid #041e42;
}
.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  text-align: center;

  color: #041e42;
}
