.shop_page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_categroy_frame {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #eaeaea;
}

.shop_categroy_frame .container {
  height: 50px;
  flex-direction: row;
}

.shop_categroy_frame .container div {
  width: 1320px;
  height: auto;
  margin-top: 10px;

  display: flex;
  align-items: center;

  font-family: var(--font);
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: rgba(4, 30, 66, 1);
}

.shop_categroy_frame .container div:hover {
  cursor: pointer;
  border-bottom: 2px solid #041e42;
}
